
.body-one {
    background-image: url(annastart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.anna-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.anna-box-text {
    align-self: flex-end;
    margin-top: 300px;
    margin-right: 80px;
}


.inst-start {
    display: flex;
    margin-right: 80px; 
}

.web {
    display: flex;
    margin-right: 80px;
    color: #5588A3;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.web-web {
    color: #5588A3;
    text-decoration: none;
}

.web-web:hover {
    color: white;
    transition: 1s;
}

.inst {
    color: white;
    padding: 10px;
}

.inst:hover {
    transform: scale(1.1);
    transition: 1s;
    color: #5588A3;
}

.end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    justify-content: flex-end;
} 

.mynav {
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 80px;
    padding: 10px;
}

.nav-text, .nav-item {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

.nav-text {
    padding: 10px;
    color: white;
}

.item {
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.item:hover {
    color: #5588A3;
    transition: 1s;
}

/* ABOUT */

.body {
    background-color: #E8E8E8;
}

.navbar-brand {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin-left: 20px;
    color: #00334E;
}

.navbar-brand:hover {
    color: #145374;
    transition: 1s
}

.navbar-nav {
    background-color: #E8E8E8;
}

.mynavbar {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.mynavbar:hover {
    color: #145374;
    transition: 1s;
    transform: scale(0.9)
}

.nav-item {
    padding: 10px;
}

.about-img-text {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.about-img {
    flex: 1;
    width: 100%;
}

.about-text {
    position: absolute;
    color: #E8E8E8;
    font-family: 'Marck Script', cursive;
    margin-top: 350px;
    margin-left: 750px;
    font-size: 50px;
    transform: rotate(-15deg);
} 

.about-div {
    padding: 50px;
}

.about-text-anna, .about-text-anya {
    font-family: 'Roboto', sans-serif;
    color: #00334E;
}

.anya {
    position: absolute;
    color: #E8E8E8;
    font-family: 'Marck Script', cursive;
    margin-left: 200px;
    margin-top: -15px;
    font-size: 30px;
    transform: rotate(-6deg);
}

.text {
    font-size: 110px;
    text-transform: uppercase;
    font-weight: lighter;
}

.myfoto {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.inone, .intwo, .inthree, .infour, .infive {
    border: #5588A3 5px solid;
}

.one {
    position: relative;
    z-index: 3;
}
.inone {
    margin-left: 50%;
    width: 41%;
}
.two {
    position: relative;
    z-index: 4;
}
.intwo {
    margin-top: -15%;
    width: 60%;
}
.three {
    position: relative;
    z-index: 5;
}
.inthree {
    margin-left: 37%;
    margin-top: -10%;
    width: 65%;
}
.four {
    position: relative;
    z-index: 6;
}
.infour {
    margin-top: -11%;
    width: 65%;
}
.five {
    position: relative;
    z-index: 2;
}
.infive {
    margin-left: 45%;
    margin-top: -15%;
    width: 45%;
}

.position-sticky {
    background-color: #5588A3;
    font-family: 'Roboto', sans-serif;
}

.shadow {
    width: 95%;
}

.muted {
    color: #145374;
}

.muted:hover {
    color: #145374;
    transition: 1s;
    transform: scale(1.1)
} 

.mymuted:hover {
    transition: 1s;
    transform: scale(1.3)
} 


/* PRICE */

.price {
    margin-top: 100px;
}

.drop-off-article_1-container {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.drop-off-care-article_1-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 240px;
    color: #00334E;
}

.drop-off-care-article_2-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40px;
    margin-right: 240px;
    color: #00334E;
}


.drop-off-care-article_11-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 70px;
    color: #00334E;
}

.drop-img {
    width: 350px;
}

.drop-off-article_1-img {
    width: 60%;
    margin-left: 80px;
}

.drop-off-article_2-img {
    width: 60%;
    margin-left: 160px;
}

.drop-off-article_11-img {
    position: relative;
    z-index: 2;
} 

.drop-off-article_22-img {
    position: relative;
    z-index: 1;
}

.priceone {
    width: 40%;
    margin-left: 80px;
    margin-top: -350px;
}

.pricetwo, .pricetwoo {
    width: 60%;
    margin-left: 180px;
}

.myslide {
    margin-top: 100px;
}

.myopacity {
    filter: opacity(40%);
}

.mytext-carousel {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 80%;
    padding: 30px;
}

.signature {
    color: black;
    font-family: 'Marck Script', cursive;
    transform: rotate(-6deg);
    font-size: 23px;
}

.investment-head {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #E8E8E8;
    margin-bottom: 20px;
}

.investment-head2 {
    position: relative;
    margin-left: 320px;
    margin-top: -45px;
    font-family: 'Marck Script', cursive;
    transform: rotate(-6deg);
    font-size: 35px;
    color: #5588A3;
}

.investment-head-p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #145374;
    text-decoration: none;
    border-bottom: #00334E 2px solid;
    margin-top: 15px;
}

.investment-head-p:hover {
    color: #145374;
    transition: 1s;
    transform: scale(0.9)
}

.investment-head-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 30px;
}

.investment-head, .investment-head-p, .investment-head-text {
    align-self: center;
}

.myprice-top, .myprice-money, .myprice-text {
    align-self: center;
} 

.myprice-top {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #145374;
}

.myprice-money {
    margin-top: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #145374;
    text-decoration: none;
}

.myprice-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin-top: 15px;
}

/* CONTACT */

.mybtnwa, .mybtnt, .mybtnvk {
    border: 1px solid #00334E;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    font-size: 13px;
    color: #00334E;
}

.mybtnwa:hover {
    background-color: #25d266;
    border: #25d266;
    color: white;
    transition: 1s;
}

.mybtnt:hover {
    background-color: #32afe7;
    border: #32afe7;
    color: white;
    transition: 1s;
}

.phone {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    transition: 1s;
}

.mybtnvk:hover {
    background-color: #447bba;
    border: #447bba;
    color: white;
}

.phone-text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 10px;
}

.contact-head-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

/* PORTFOLIO */

.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #145374;
    text-decoration: none;
}

.card-title:hover {
    color: #145374;
}

.mycard {
    padding: 20px;
}

.mycard:hover {
    transition: 1s;
    transform: scale(1.1)
}

.foto {
    width: 400px;
    padding: 30px;
}

.fotoo {
    width: 600px;
    padding: 30px;
}

.foto-foto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

@media all and (max-width: 800px) {
    .body-one {
    background-image: url(annamobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

    .about-text {
        margin-top: 180px;
        margin-left: 500px;
        font-size: 30px;
    }

    .navbar-brand {
        font-size: 40px;
    }

    .about-div {
        padding: 20px;
    }

    .about-text-anna {
        font-size: 20px;
    }

    .about-text-anya {
        font-size: 15px;
    }

    .position-sticky-div {
        width: 50%;
    }

    .anya {
        margin-left: 180px;
        margin-top: -20px;
        font-size: 25px;
    }

    .investment-head {
        font-size: 40px;
    }

    .investment-head2 {
        margin-left: 210px;
        margin-top: -35px;
        font-size: 28px;
    }

    .phone {
        font-size: 20px;
    }

    .contact-head-text {
        font-size: 15px;
    }

    .drop-off-care-article_11-text {
        width: 45%;
        margin-left: 10px;
    }

    .priceone {
        margin-left: 40px;
    }

    .pricetwo {
        margin-left: 140px;
    }

    .investment-head-p {
        font-size: 25px;
    }

    .pricetwoo {
        width: 45%;
        margin-left: 100px;
    }

    .frames {
        margin-top: 70px;
    }

    .mytext-carousel {
        font-size: 13px;
        width: 100%;
        padding: 15px;
    }

    .signature {
        font-size: 19px;
    }

    .drop-off-care-article_2-text {
        margin-right: 50px;
    }

    .drop-off-care-article_1-text {
        margin-left: 50px;
    }

    .drop-img {
        width: 250px;
    }
    
    .drop-off-article_2-img{
        margin-left: 100px;
    }

    .myprice-top {
        font-size: 23px;
    }

    .myprice-money {
        margin-top: 15px;
        font-size: 12px;
    }

    .foto {
        width: 350px;
        padding: 15px;
    }

    .fotoo {
        padding: 15px;
    }

}

@media all and (max-width: 500px) {

    .mynav {
        font-size: 50px;
        padding: 5px;
    }

    .anna-box-text {
        align-self: flex-start;
        margin-top: 230px;
        margin-left: 20px;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-text {
        padding: 0px;
    }

    .nav-text, .nav-item {
        font-size: 12px;
    }

    .inst-start {
        margin-right: 20px;
    }
    
    .web {
        margin-right: 20px;
    } 
    
    .about-text {
        margin-top: 70px;
        margin-left: 280px;
        font-size: 20px;
    }

    .navbar-brand {
        font-size: 35px;
    }

    .position-sticky {
        width: 300px;
    }

    .fotoo {
        width: 360px;
    }

    .fotoo, .foto {
        padding: 5px;
    }

    .foto {
        width: 300px;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .investment-head {
        font-size: 31px;
    }

    .investment-head2 {
        font-size: 18px;
        margin-left: 90px;
        margin-top: -35px;
        padding: 2px;
    }

    .pricetwoo {
        width: 100%;
        margin-left: 10px;
        margin-top: -35px;
    }

    .frames {
        margin-top: 20px;
    }

    .port-drop {
        display: flex;
        flex-direction: column;
    }

    .port-drop-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .investment-head-p {
        font-size: 18px;
    }

    .drop-off-care-article_11-text {
        width: 100%;
        margin-left: 0px;
    }

    .investment-head-text {
        font-size: 13px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .investment-head2 {
        margin-left: 170px;
    }

    .pricetwo {
        margin-left: 100px;
    }

    .priceone {
        margin-left: 10px;
    }

    .contact-head-text {
        font-size: 12px;
    }

    .pricetwoo {
        width: 90%;
        align-self: center;
    }

    .drop-off-care-article_2-text {
        width: 100%;
        margin-left: 10px;
        margin-right: 0px;
    }

    .drop-off-care-article_1-text {
        width: 100%;
        margin-left: 10px;
    }

    .drop-off-article_2-img {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        width: 100%;
    }

    .drop-off-article_1-img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0px;
    }

    .myslide {
        margin-top: 0px;
    }
    
    .mytext-carousel {
        font-size: 10px;
        width: 100%;
        padding: 5px;
    }
    
    .signature {
        font-size: 15px;
    }

    .end {
        margin-bottom: 30px;
    }

}


